@charset "UTF-8";

main {
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: black;
}
/*---------メインビジュアル------*/
.mv {
  height: 100vh;
  width: 100%;
  background-image: url(../img/数学テクノロジー.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative
}
/*------斜めにする--------*/

.mv::before{
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
 
  /*ここで三角形のサイズを決める。
  必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
  border-width: 100px 0 0 100vw ;
 
  border-color: transparent  transparent  transparent white;
}

.inner h1 {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 40vh;
  left: 40vw;
}
.inner h3 {
  font-size: 30px;
  font-style: italic;
  position: absolute;
  top: 60vh;
  left: 30vw;
}
/*---------私について------------*/
#about-me .container {
  margin: 0 20%;
}
#about-me .fa-solid {
  margin-right: 20px;
}
#about-me .name, .come-from, .carrier, .request, .consciousness {
  display: flex;
  padding: 15px;
}
#about-me .icon {
  display: flex;
  justify-content: center;
}

/*-----------経験------------*/
.ex {
  margin-top: 100px;
  text-align: center;
}
#exp {
  height: 100vh;
  background-image: url(../img/サッカーグラウンド.jpeg);
  background-size: cover;
}
#exp .container {
  margin: 0 20%;
}

#exp .text {
  color: white;
  font-size: 1.2rem;
  padding-top: 30%;
}

#exp .wrapper {
  position: relative;
  
}
#exp .wrapper::before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
 
  /*ここで三角形のサイズを決める。
  必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
  border-width: 0 0 100px 100vw ;
 
  border-color: transparent  transparent  transparent white;
}


/*-----------スキル---------*/
#skill .container {
  display: flex;
  justify-content: center;
}

.box {
  width: 22%;
  padding: 5%;
}


/*------------- 個人制作 ------------*/
#personal-works .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#personal-works h2 {
  text-align: center;
}
#personal-works .title {
  font-weight: bold;
}
#personal-works .description {
  font-size: small;
}
#personal-works span {
  color: blue;
}
.item img{
  width: 30vw;
  height: 60vh;
}
.item img {
  object-fit: cover;
  object-position: 0% 0%;
}

.item {
  width: 30vw;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  border-radius: 5%;
}
/*-----------フッター ----------------*/

footer {
  text-align: center;
  border-top: 5px double black;
  padding: 20px;
}


/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 900px) {

/*-------------------メインビジュアル---------*/
.inner h1 {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 40vh;
  left: 20vw;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
#exp .text {
  font-size: small;
}

/*------------------個人制作-------------------*/
.item img{
  width: 60vw;
  height: 60vh;
}


.item {
  width: 60vw;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  border-radius: 5%;
}
}